/* Include padding and border in the element's total width and height: */

/* "Tamming" Box Model With Reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Universal Styling */

html {
  font-size: 18px;
  font-family: Helvetica;
  background-color: white;
}

body {
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

a {
  color: white;
  text-decoration: none;
}

h1, h2 {
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
}

h2, header {
  font-size: 1rem;
}


/* Header */

header {
  color: white;
  padding: 1rem 2rem;
  background-color: cadetblue;
  position: relative;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  margin-right: 1rem;
}

header ul {
  display: flex;
}

header ul li {
  margin-left: 2rem;
}

/* Banner */

.banner {
  height: 31rem;
  background-image: url("../images/banner_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h1 {
  display: inline-block;
  float: right;
  position: relative;
  top: 11rem;
  right: -2rem;
  padding: 1.5rem 5rem;
  margin: 0 auto;
  background-color: white;
}

/* Services */

.services {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services img {
  width: 5rem;
}

.services .exams img {
  width: 3.5rem;
}

.exams,
.fittings,
.delivery {
  text-align: center;
  height: 8rem;
  width: 5rem;
  margin: 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Contact */

.contact {
  display: flex;
  justify-content: center;
}

.contact h2 {
  color: white;
  width: 12.5rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  background-color: cadetblue;
}

.philosophy, .appointments {
  width: 38%;
  margin-right: 5%;
}
